<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="row justify-content-center">
        <div class="col-sm-10">
          <h2>Register</h2>
        </div>
      </div>
      <form>
        <div class="row justify-content-center">
          <div class="col-sm-10">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Username..">
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-10">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email..">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone.</small>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-10">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password..">
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-10">
            <div class="form-group">
              <label for="passwordRepeat">Repeat password</label>
              <input type="password" class="form-control" id="passwordRepeat" placeholder="Repeat password..">
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-2">
                <hr>
              </div>
              <div class="col">
                <p>
                  <small class="text-muted">Do you agree to the Terms and conditions??</small>
                </p>
              </div>
              <div class="col-sm-2">
                <hr>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm">
      <h2>
        Terms of condition
      </h2>
      <hr>
      <p>
        By clicking on "Register" you agree to The Company's' Terms and Conditions
      </p>
      <p>
        Vivamus consequat, erat id pharetra laoreet, erat nulla consequat augue, nec rhoncus risus elit eget enim. Etiam eleifend sollicitudin erat,
      </p>
      <p>
        sed vehicula mauris venenatis at. Donec ut turpis ut nisl commodo placerat. Etiam eget risus risus. In dictum orci neque, eget tincidunt lectus pulvinar et. Nunc at nisi et enim ultricies maximus. Duis posuere nisi non sem vestibulum pellentesque. Proin faucibus metus quam, ut consectetur leo faucibus nec. Mauris eget fringilla est. Sed pretium ligula vulputate dolor lacinia,
      </p>
    </div>
  </div>
</div>
