<div class="container-fluid mt-5 pt-5 bg-dark">
  <div class="container pb-5">
    <div class="col">
      <div class="row text-white">
        <div class="col">
          <div class="row">
            <span class="h5">Game-frame</span>
          </div>
          <div class="row">
            <span class="footer-link">Test servers</span>
          </div>
          <div class="row">
            <span class="footer-link">Our costumers</span>
          </div>
          <div class="row">
            <div class="col mt-2">
              <div class="row">
                <span class="h3">Follow us</span>
              </div>
              <div class="row justify-content-start">
                <div class="col-auto pl-0 ml-0">
                  <span class="footer-link"><i class="fab fa-twitter-square"></i></span>
                </div>
                <div class="col-auto">
                  <span class="footer-link"><i class="fab fa-linkedin"></i></span>
                </div>
                <div class="col-auto">
                  <span class="footer-link"><i class="fab fa-youtube-square"></i></span>
                </div>
                <div class="col-auto">
                  <span class="footer-link"><i class="fab fa-facebook-square"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <span class="h5">Api</span>
          </div>
          <div class="row">
            <span class="footer-link">Request access</span>
          </div>
          <div class="row">
            <span class="footer-link">Documentation</span>
          </div>
          <div class="row">
            <span class="footer-link">How to use</span>
          </div>
          <div class="row">
            <span class="footer-link">Tutorials</span>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <span class="h5">Legal & Security</span>
          </div>
          <div class="row">
            <span class="footer-link">End user agreement</span>
          </div>
          <div class="row">
            <span class="footer-link">Terms of use</span>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <span class="h5">Support</span>
          </div>
          <div class="row">
            <span class="footer-link">Contact</span>
          </div>
          <div class="row">
            <span class="footer-link">Press</span>
          </div>
          <div class="row">
            <span class="footer-link">Business inquires</span>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <span class="h5">About</span>
          </div>
          <div class="row">
            <span class="footer-link">News</span>
          </div>
          <div class="row">
            <span class="footer-link">Jobs</span>
          </div>
          <div class="row">
            <span class="footer-link">Blog</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-light">
  <div class="col">
    <div class="row justify-content-center">
      <div class="col-auto">
        <a id="footer-image" [routerLink]="['']">
          <img src="assets/logo/Game-frame-logo.svg" alt="logo-image">
        </a>
      </div>
    </div>
  </div>
</div>
