.navbar-container{
  width: 100%;
  background-color: var(--bg-panel);
}

.navbar-brand img{
  width: 300px;
  max-width: 275px;
}

#logo-image-mobile-medium img{
  width: 180px !important;
}

#logo-image-mobile-small{
  margin: 0 !important;
}

#logo-image-mobile-small img{
  width: 150px !important;
}

@media only screen and (max-width: 766px) {
  #logo-image-mobile-medium{
    display: none !important;
  }
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn-primary{
  background-color: var(--highlight) !important;
  border-color: var(--highlight) !important;
}

hr{
  background-color: var(--subtle-highlight);
}

.nav-link{
  color: var(--h1-heading) !important;
}
