
<div class="container">
  <div class="row">
    <div class="d-none d-lg-block col float-left ml-lg-4">
      <div class="h2">
        Most recent questions
      </div>
    </div>

    <div class="col-12 d-block d-lg-none ml-lg-4">
      <div class="h3">
        Most recent questions
      </div>
    </div>
    <div *ngIf="authenticated" class="col-lg-2 d-none d-lg-block float-lg-right justify-content-center">
      <a class="btn btn-primary btn text-white" [routerLink]="'/forum/new'">New question</a>
    </div>

    <div *ngIf="authenticated" class="col-12 d-block d-lg-none justify-content-center">
      <a class="btn btn-primary btn-sm text-white" [routerLink]="'/forum/new'">New question</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="loadingPage">
    <div class="col-auto">
      <app-loader [loadingText]="'Loading page...'"></app-loader>
    </div>
  </div>

  <div class="row" *ngIf="!loadingPage">
    <div class="col">
      <div class="row" *ngFor="let post of currentPagePosts">
        <div class="col">
          <app-forum-post-summary [postDto]="post"></app-forum-post-summary>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center" *ngIf="!loadingPage">
    <div class="col mt-5">
      <div class="row justify-content-center">
        <div class="col-auto">
          <button class="btn btn-primary btn-sm" [disabled]="currentPage <= 0" (click)="getPreviousPage()"><< Previous page</button>
        </div>
        <div class="col-auto">
          <button class="btn btn-primary btn-sm" [disabled]="currentPagePosts.length < pageSize || overRuleNextPage" (click)="getNextPage()">Next page >></button>
        </div>
      </div>
    </div>
  </div>

</div>
