
<div *ngIf="!profileLoaded" class="container-fluid">
  <app-loader [loadingText]="'Loading profile...'"></app-loader>
</div>


<div *ngIf="profileLoaded" id="profile-banner" class="container-fluid">
  <div class="row">

    <img src="assets/profile/default-profile-banner-grey.png" class="img-fluid mx-auto" alt="Responsive image">
  </div>
</div>
<div *ngIf="profileLoaded" id="profile-wrapper" class="container">
  <div id="profile-info">
    <div id="user-name-tag" class="row justify-content-sm-center">
      <div class="col pt-2"><h2>@{{userProfile.user.userName}}</h2></div>
    </div>
    <div class="row">
      <div class="col-sm-3">

        <div class="text-center">
          <img id="profile-avatar" *ngIf="userProfile.profile.profilePicture !== '' || userProfile.profile.profilePicture !== null" src="{{userProfile.profile.profilePicture}}" alt="temp image">
          <img *ngIf="userProfile.profile.profilePicture === '' || userProfile.profile.profilePicture === null" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
          <h6 *ngIf="privateProfile">Upload a different photo...</h6>
          <input *ngIf="privateProfile" type="file" class="text-center center-block file-upload" (change)="onProfileAvatarFileChange($event)">
        </div><br>
        <ul class="list-group">
          <li class="list-group-item text-muted text-center">Website <i class="fa fa-dashboard fa-1x"></i></li>
          <li class="list-group-item text-center" (click)="goToUserWebsite()">{{userProfile.profile.website}}</li>
        </ul>

      </div><!--/col-3-->


      <div class="col-sm-9 mt-3 mb-5" *ngIf="!editMode">
        <div class="row justify-content-center" *ngIf="privateProfile && !editMode">
          <input type="button" class="btn btn-primary" value="Edit profile" (click)="openEditMode()">
        </div>
        <div class="row mt-2">
          <div class="col-auto">
            <p>Username</p>
            @{{userProfile.user.userName}}
          </div>
          <div class="col-auto">
            <p>Full name</p>
            {{userProfile.user.fullName}}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-auto">
            <p>Email</p>
            {{userProfile.user.email}}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-auto">
            <p>Location</p>
            {{userProfile.profile.location}}
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-auto">
            <p>Bio</p>
            {{userProfile.profile.bio}}
          </div>
        </div>
      </div>


<!-- panel for edit mode, only active on private profile and in edit mode-->
      <div class="col-sm-9" *ngIf="privateProfile && editMode">
          <div class="tab-pane active">
            <form [formGroup]="updateProfileForm" class="form" id="profile-form">
              <div class="row justify-content-sm-center">
                <div class="col-md-auto col-lg">
                  <div class="form-group col-auto">
                    <label for="input-username">Username</label>
                    <input formControlName="usernameControl" type="text" class="form-control" id="input-username" placeholder="{{userProfile.user.userName}}">
                  </div>

                  <div class="form-group col-auto">
                    <label for="input-fullname">Full name</label>
                    <input formControlName="fullNameControl" type="text" class="form-control" id="input-fullname" placeholder="{{userProfile.user.fullName !== '' ? '## Full name not specified ##': userProfile.user.fullName }}">
                  </div>

                  <div class="form-group col-auto">
                    <label for="input-email">Email</label>
                    <input formControlName="emailControl" type="text" class="form-control" id="input-email" placeholder="{{userProfile.user.email}}">
                  </div>
                </div>

                <div class="col-md-auto col-lg">
                  <div class="form-group col-auto">
                    <label for="input-location">Location</label>
                    <input formControlName="locationControl" type="text" class="form-control" id="input-location" placeholder="{{userProfile.profile.location !== '' ? '## Location not specified ##': userProfile.profile.location }}">
                  </div>

                  <div class="form-group col-auto">
                    <label for="input-website">Featured Website</label>
                    <input formControlName="websiteControl" type="text" class="form-control" id="input-website" placeholder="{{userProfile.profile.website !== '' ? '## Website not specified ##': userProfile.profile.website }}">
                  </div>

                  <div class="form-group col-auto">
                    <label for="input-bio">Bio</label>
                    <textarea formControlName="bioControl" class="form-control" id="input-bio" rows="3" placeholder="{{userProfile.profile.bio !== '' ? '## Bio not specified ##': userProfile.profile.bio }}"></textarea>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="errorUpdating">
                <div class="col text-danger">
                  Profile could not be saved please try again later
                </div>
              </div>
              <div class="row form-group">
                <div *ngIf="!updateSubmit" class="col">
                  <br>
                  <button class="btn btn-success" (click)="saveEdit()"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                  <button class="btn" type="reset" (click)="cancelEdit()"><i class="glyphicon glyphicon-repeat"></i> Cancel</button>
                </div>
                <div *ngIf="updateSubmit" class="col">
                  <div>
                    <app-loader [loadingText]="'Saving profile...'"></app-loader>
                  </div>
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="col mt-4">
    <div class="row">
      <div class="col">
        <span class="h3">Followed posts</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <hr>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="!followedPostsLoaded">
      <div class="col-auto">
        <app-loader [loadingText]="'Loading posts'"></app-loader>
      </div>
    </div>
    <div class="row" *ngIf="followedPostsLoaded">
      <div class="col">
        <div class="row" *ngFor="let post of followedPosts.posts">
          <div class="col">
            <app-forum-post-summary [postDto]="post"></app-forum-post-summary>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
