<div class="container">
  <div class="row">
    <div class="col">
      <div class="h3">
        Ask a question
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col">
      <form [formGroup]="postFormGroup" role="form" id="question-form">
        <div class="form-group">
          <label for="title-input">Question title</label>
          <input type="text" id="title-input" formControlName="postTitleInput" class="form-control" placeholder="Question title (min 10 characters)">
          <small id="title-help" class="form-text text-muted">Use about 5 word to explain your problem</small>
        </div>
        <div class="form-group">
          <label for="question-content">Describe your problem</label>
          <textarea id="question-content" formControlName="postContentInput" class="form-control" rows="8" placeholder="Describe you problem as detailed as possible (min 200 characters)"></textarea>
        </div>
        <div class="form-group">
          <label for="tag-input">Tags</label>
          <input type="text" id="tag-input" formControlName="postTagsInput" class="form-control" placeholder="e.g. #Spring, #Java, #JavaScript etc.. (min 15 characters)">
          <small id="tag-help" class="form-text text-muted">Use tags to make your question easier to find</small>
        </div>
      </form>
    </div>
    <div class="col-12 d-block d-md-none">
      <hr>
    </div>
    <div class="col-md-4 col">
      <div class="row">
        <div class="rounded border-primary">
          <div class="h5">
            How to ask good questions?
          </div>
          <div class="text-body">
            We have provided a small list for you to check off and make your question more clear.<br>
          </div>
          <div class="mt-3">
            <form [formGroup]="checkFormGroup">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="row">
                    <div class="col">
                      What is the context of your question?
                    </div>
                    <div class="col-3 form-check form-check-inline">
                      <input class="form-check-input" formControlName="contextCheck" type="checkbox" id="inlineCheckbox1" value="option1">
                      <label class="form-check-label" for="inlineCheckbox1">Check!</label>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col">
                      What tools are you using?
                    </div>
                    <div class="col-3 form-check form-check-inline">
                      <input class="form-check-input" formControlName="toolsCheck" type="checkbox" id="inlineCheckbox2" value="option2">
                      <label class="form-check-label" for="inlineCheckbox2">Check!</label>
                    </div>
                  </div>
                </li><li class="list-group-item">
                <div class="row">
                  <div class="col">
                    What have you already tried?
                  </div>
                  <div class="col-3 form-check form-check-inline">
                    <input class="form-check-input" formControlName="triedCheck" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Check!</label>
                  </div>
                </div>
              </li>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col">
                      What kind of error message do you get?(include this in your question)
                    </div>
                    <div class="col-3 form-check form-check-inline">
                      <input class="form-check-input" formControlName="errorMessages" type="checkbox" id="inlineCheckbox4" value="option4">
                      <label class="form-check-label" for="inlineCheckbox4">Check!</label>
                    </div>
                  </div>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="checkFormInvalid">
    <div class="col text-danger">
      Please check all the boxes and formulate your question according to the list provided
    </div>
  </div>

  <div class="row" *ngIf="postFormInvalid">
    <div class="col text-danger">
      Please fill out all the provided field with as much information as possible
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="createNewPost()">Post your question</button>
    </div>
  </div>

</div>
