<div class="container" *ngIf="!postLoaded">
  <div class="row justify-content-center">
    <div class="col-auto">
      <app-loader [loadingText]="'Loading post...'"></app-loader>
    </div>
  </div>
</div>

<div class="container" *ngIf="postLoaded">
  <div class="row">
    <div class="col-auto">
      <span class="h1">{{post.title}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
    </div>
  </div>
  <div class="row pl-2">
    <div class="col-8">
      <div class="row" *ngFor="let line of postContent">
        {{line}}
        <br>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <span class="h5">Asked on <strong>{{datePosted.getUTCDate() > 10 ? "" : "0"}}{{datePosted.getUTCDate()}}-{{datePosted.getUTCMonth() + 1 > 10 ? "" : "0"}}{{datePosted.getUTCMonth() + 1}}-{{datePosted.getUTCFullYear()}}</strong></span>
      </div>
      <div class="row">
        <span class="h5">By:</span><span class="h5 font-weight-bold pl-2"><a [routerLink]="'/profile/' + post.creator.userName">{{post.creator.userName}}</a></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-auto" *ngFor="let tag of post.tags">
      <div class="row">
        <div class="col-auto m0 pl-2 pr-2">
          <a class="text-decoration-none text-primary">{{tag.tagString}}</a>
        </div>
        <div class="col-auto m-0 p-0">
          {{tag !== post.tags[post.tags.length-1] ? "|" : ""}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" *ngIf="postLoaded">
  <app-forum-add-comment [post]="post" (commentAddedCallback)="commentAdded($event)"></app-forum-add-comment>
</div>
