<div class="container h-100" *ngIf="!postLoaded">
  <div class="row justify-content-center">
    <div class="col-auto">
      <app-loader [loadingText]="'Loading post...'"></app-loader>
    </div>
  </div>
</div>

<div class="container h-100">
  <div class="row">
    <div class="col-auto">
      <span class="h1">{{post.title}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <p>{{post.content}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-auto" *ngFor="let tag of post.tags">
      <div class="row">
        <div class="col-auto m0 pl-2 pr-2">
          <a class="text-decoration-none text-primary">{{tag.tagString}}</a>
        </div>
        <div class="col-auto m-0 p-0">
          {{tag !== post.tags[post.tags.length-1] ? "|" : ""}}
        </div>
      </div>
    </div>
  </div>
</div>
