/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html{
  --bg: #f5f6fa;
  --bg-panel: #dcdde1;

  --h1-heading: #0097e6;
  --h2-heading: #40739e;

  --highlight: #0097e6;
  --subtle-highlight: #dcdde1;

  --main-text: #333333;

  background-color: var(--bg);
  padding: 0 !important;
  margin: 0 !important;

  height: 100% !important;
}

body{
  min-height: 100% !important;
}

h1, h2, h3, h4, p{
  color: var(--main-text) !important;
  font-family: moon-bold, sans-serif !important;
}

#app-header{
  position: fixed;
  z-index: 2;
  box-shadow: 2px 0 15px var(--main-text);
}

#router-outlet{
  padding-top: 15vh;
  min-height: 90vh !important;
}

@media only screen and (max-width: 990px){
  #router-outlet{
    padding-top: 12vh !important;
  }
}

@media only screen and (max-width: 766px){
  #router-outlet{
    padding-top: 10vh !important;
  }
}

@media only screen and (max-width: 350px){
  #router-outlet{
    padding-top: 15vh !important;
  }
}

@media only screen and (max-width: 450px){
  #router-outlet{
    padding-top: 12vh !important;
  }
}

/*@media only screen and (max-height: 830px){*/
/*  #router-outlet{*/
/*    padding-top: 25vh !important;*/
/*  }*/
/*}*/

/*@media only screen and (max-height: 850px){*/
/*  #router-outlet{*/
/*    padding-top: 15vh;*/
/*  }*/
/*}*/

/*@media only screen and (min-height: 850px){*/
/*  #router-outlet{*/
/*    padding-top: 15vh;*/
/*  }*/
/*}*/
/*@media only screen and (max-height: 550px){*/
/*  #router-outlet{*/
/*    padding-top: 15vh !important;*/
/*  }*/
/*}*/

/*img {*/
/*  display: block;*/
/*  max-width: 75%;*/
/*  height: auto;*/
/*}*/

@font-face {
  font-family: moon-bold;
  src: url("assets/fonts/Moon-Bold.otf");
}

@font-face {
  font-family: moon-light;
  src: url("assets/fonts/Moon-Light.otf");
}

#app-root{
  height: 100% !important;
  width: 100% !important;

}
