<div class="container-fluid border-bottom mt-3 pb-2">
  <div class="row">
    <div class="col-2 border-right mr-3 pr-5 pr-lg-0">
      <div class="row justify-content-center d-none d-lg-block">
        People following:
      </div>
      <div class="row justify-content-center d-none d-lg-block">
        <div class="h4">
          {{postDto.followerCount}}
        </div>
      </div>

      <div class="row justify-content-center d-lg-none">
        <small>People following:</small>
      </div>
      <div class="row justify-content-center d-lg-none">
        <div class="h4">
          <small class="font-weight-bold">{{postDto.followerCount}}</small>
        </div>
      </div>
    </div>

    <div class="col pl-2 pl-lg-4">
      <div class="row">
        <div class="col">
          <div class="h3 d-none d-lg-block">
            <a class="text-body" [routerLink]="'/forum/post/' + postDto.postId">{{postDto.title}}</a>
          </div>

          <div class="h6 d-lg-none">
            <small><a class="text-body font-weight-bold" [routerLink]="'/forum/post/' + postDto.postId">{{postDto.title}}</a></small>
          </div>
        </div>
      </div>
      <div class="row float-left">
        <div class="col-auto d-none d-lg-block">
          <div *ngFor="let tag of postDto.tags">
            <a class="text-decoration-none text-primary">{{tag}}</a> |
          </div>
<!--            <a class="text-decoration-none text-primary">#Ding1</a> |-->
<!--            <a class="text-decoration-none text-primary">#Ding1</a>-->
        </div>
        <div class="col-auto d-block d-lg-none">
          <div *ngFor="let tag of postDto.tags">
            <small>
              <a class="text-decoration-none text-primary">{{tag}}</a> |
            </small>
          </div>
<!--          <small>-->
<!--            <a class="text-decoration-none text-primary">#Ding1</a> |-->
<!--            <a class="text-decoration-none text-primary">#Ding1</a> |-->
<!--            <a class="text-decoration-none text-primary">#Ding1</a>-->
<!--          </small>-->
        </div>
      </div>
      <div class="row float-right">

        <div class="col-auto mr-lg-3 pr-lg-2 mr-0 pr-0">
          <small><span class="font-italic mr-2">Asked by:</span><span class="text-primary"><a [routerLink]="'/profile/' + postDto.creator.userName">{{postDto.creator.userName}}</a></span></small>
        </div>
        <div class="col-auto">
          <small><span class="font-italic mr-2">On:</span> {{postDate.getDay()}} - {{postDate.getMonth()}} - {{postDate.getFullYear()}}</small>
        </div>
      </div>
    </div>
  </div>

</div>
